body {
	margin: 0px;
	width: 100%;
	height: 100%;
}

#selectors {
	position:absolute;
	text-align: center;
	width: 100%;
}

label {
	text-align: center;
	margin: auto 1%;
	padding: .2% 2%;
	color: gray;
	font-size: 20px;
	border-width: 2px;
	border-style: dashed;
	border-color: gray;
}

input {
	visibility: hidden;
	position: absolute;
}

canvas {
	display: block;
}
